*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: #0088ccd9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 12vh;
  background-color: black;
  opacity: 0.9;
}

section {
  margin: 100px;
}

article,
aside {
  background-color: black;
}

/* Main Section */

.articles-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.articles-main article {
  opacity: 0.2;
}

.articles-main aside {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  opacity: 0.6;
}

/* Article Preview Section */

.article-previews {
  display: grid;
  grid-gap: 20px;
  height: 150vh;
  grid-template-columns: repeat(4, 1fr);
}

.article-previews aside {
  grid-column-start: span 2;
  opacity: 0.6;
}

.article-previews article {
  opacity: 0.2;
}

/* Full Page Advertisement */
.full-page-ad {
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Guide Preview Section */

.guides {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  grid-gap: 20px;
  height: 120vh;
}

.guides article {
  opacity: 0.6;
}

.guides aside {
  opacity: 0.8;
}

/* Random Banner */

.design-systems-banner {
  height: 40vh;
  background-color: black;
  opacity: 0.95;
}

/* More Articles... */

.featured-members {
  height: 125vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.featured-members :first-child {
  grid-column-start: span 2;
}

.featured-members article {
  opacity: 0.4;
}

/* Footer */

footer {
  height: 70vh;
  background-color: black;
  opacity: 0.8;
}